a{
    font-size: 30px;
    color: saddlebrown;
    text-decoration: none;
}
        .header {
            font-family: Marck Script;
            background-color: #689CD2;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
        padding: 10px;
            text-align: center;
            background-image: url(https://static.tumblr.com/a51088f8dc305e5bce6b5262b7d627e1/o0moabl/vgxnume7w/tumblr_static_9j8wtmlipv0ogss4sokk0g8g8_2048_v2.jpg);
            height: 570px;
            display: block;
			flex-grow: 1;
}

html body {
            padding: 0;
            margin: 0;
        }
        .header_section {
            color: sandybrown;
            display: flex;
            align-items: center;
            font-size: 30px;
            padding: 2rem 1.5rem;
            flex-grow: 1;
            flex-shrink: 0;
            
        }
        
.header_item{
    padding: 20px 40px;
    font-size: 20px;
    margin-left: 40px;
	flex-grow: 1;
    
}        

        .header_section{
            margin: 0 auto;
			flex-grow: 1;
        }

        @media screen and (min-width: 1200px) {
            .header_section {
                max-width: 1152px;
                width: 1152px;
				flex-grow: 1;
            }
        }

        @media screen and (min-width: 1080px) {
            .header_section{
                max-width: 960px;
                width: 960px;
				flex-grow: 1;
            }
        }
.teeelo{
    color: sandybrown;
            display: block;
            align-items: stretch;
            font-size: 30px;
            padding: 2rem 1.5rem;
            flex-grow: 2;
            flex-shrink: 0;
    margin: 0 auto;
    
}
.telo_zagolovok{
      font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    align-items: right;
    margin: 0 auto;
    color: saddlebrown; 
    display: block;
    padding: 0;
    border: 0;
    outline: 0; 
    vertical-align: baseline; 
    background: transparent; 
    font-size: 30px; 
    padding-left: 35em; 
    padding-right: 5em;
        padding-top: 0;
    width: 700px; /* Ширина слоя */
margin: 7px; /* Значение отступов */
padding: 25em; /* Поля вокруг текста */
flex-grow: 1;
}
.telo_text{
    font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    align-items: right;
    margin: 0 auto;
    color: saddlebrown; 
    display: block;
    padding: 0;
    border: 0;
    outline: 0; 
    vertical-align: baseline; 
    background: transparent; 
    font-size: 30px; 
    padding-left: 35em; 
    padding-right: 5em;
        padding-top: 0;
    width: 700px; /* Ширина слоя */
    height: 10px;
margin: 7px; /* Значение отступов */
padding: 25em; /* Поля вокруг текста */
flex-grow: 1;
    
}
.telo_zagolovok2{
    font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    align-items: right;
    margin: 0 auto;
    color: saddlebrown; 
    display: block;
    padding: 0;
    border: 0;
    outline: 0; 
    vertical-align: baseline; 
    background: transparent; 
    font-size: 30px; 
    padding-left: 5em; 
    width: 500px; /* Ширина слоя */
margin: 7px; /* Значение отступов */
padding: 5em; /* Поля вокруг текста */
flex-grow: 1;
}
.telo_text2{
    font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    align-items: right;
    margin: 0 auto;
    color: saddlebrown; 
    display: block;
    padding: 0;
    border: 0;
    outline: 0; 
    vertical-align: baseline; 
    background: transparent; 
    font-size: 30px; 
    padding-left: 35em;
    width: 550px; /* Ширина слоя */
    height: 10px;
margin: 7px; /* Значение отступов */
padding: 25em; /* Поля вокруг текста */
flex-grow: 1;
}
.telo_text3{
    font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    margin: 0 auto;
    color: saddlebrown;
    display: block;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 30px;
    padding-left: 35em;
    width: 1500px;
    height: 320px;
    margin: 7px;
    padding: 2em;
	flex-grow: 1;
}
.telo_zagolovok3{
    font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    align-items: right;
    margin: 0 auto;
    color: saddlebrown; 
    display: block;
    padding: 0;
    border: 0;
    outline: 0; 
    vertical-align: baseline; 
    background: transparent; 
    font-size: 30px; 
    padding-left: 35em; 
    width: 500px; /* Ширина слоя */
margin: 7px; /* Значение отступов */
padding: 33em; /* Поля вокруг текста */
flex-grow: 1;
}
}
.telo_text4{
    font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    margin: 0 auto;
    color: saddlebrown;
    display: block;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 30px;
    padding-left: 35em;
    width: 1500px;
    height: 10px;
    margin: 7px;
    padding: 2em;
	flex-grow: 1;
}
.telo_zgolovok4{
   font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    align-items: right;
    margin: 0 auto;
    color: saddlebrown;
    display: block;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 30px;
    padding-left: 6em;
    width: 500px;
    margin: 7px;
    padding: 5em;
	flex-grow: 1;
}
.telo_text5{ font-family: Marck Script;
    padding: 2rem 1.5rem;
    display: block;
    margin: 0 auto;
    color: saddlebrown;
    display: block;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 30px;
    padding-left: 35em;
    width: 550px;
    height: 320px;
    margin: 7px;
    padding: 2em;
	flex-grow: 1;
    
}